<link rel="stylesheet" href="../css/style.css"> 
<div class="add-content">
    <form action="/add/insert" method="post">
        
        <div class="formcontent">
            <label for="">Nome:</label>
            <br>
            <input type="text" name="name">
        </div>
        <div class="formcontent">
            <label for="">Genero:</label>
            <br>
            <input type="radio" name="gender" id="r-m" value="m" checked><label for="r-m">Masculino</label>
            <input type="radio" name="gender" id="r-f" value="f"><label for="r-f">Feminino</label>
            <input type="radio" name="gender" id="r-n" value="n"><label for="r-n">Outro</label>
        </div>
        <div class="formcontent">
            <label for="">Telefone:</label>
            <br>
            <input type="text" name="phone">
        </div>
        <div class="formcontent">
            <label for="">Email:</label>
            <br>
            <input type="text" name="email">
        </div>
        <div class="formcontent">
            <input type="submit" value="Adicionar">
        </div>
    </form>
</div>
